@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

img,
a,
i,
span,
p,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.3s ease;
}

section#signup .container form, section#signup .container, section#gallery .container .pagination a, section#gallery .container .pagination, section#gallery .container .gallery .photo .overlay a, section#header, .arrow-slider, #scroll-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#gallery .container .filters, footer .bottom .container, header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 50px;
}
@media (min-width: 1200px) {
  .container {
    padding-inline: 40px;
  }
}
@media (max-width: 992px) {
  .container {
    padding-inline: 30px;
  }
}
@media (max-width: 760px) {
  .container {
    padding-inline: 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding-inline: 10px;
  }
}

.breakpoint {
  position: fixed;
  top: initial;
  left: initial;
  bottom: 50px;
  right: 50px;
  z-index: 999;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background: black;
}
@media (min-width: 1200px) {
  .breakpoint {
    background: green;
  }
  .breakpoint::after {
    content: "XL";
    position: relative;
    line-height: 50px;
  }
}
@media (max-width: 992px) {
  .breakpoint {
    background: blue;
  }
  .breakpoint::after {
    content: "LG";
    position: relative;
    line-height: 50px;
  }
}
@media (max-width: 760px) {
  .breakpoint {
    background: yellow;
  }
  .breakpoint::after {
    content: "MD";
    position: relative;
    line-height: 50px;
  }
}
@media (max-width: 576px) {
  .breakpoint {
    background: red;
  }
  .breakpoint::after {
    content: "SM";
    position: relative;
    line-height: 50px;
  }
}

.burger {
  color: white;
  display: none !important;
  font-size: 1.2rem;
  cursor: pointer;
}
@media (max-width: 992px) {
  .burger {
    display: block !important;
  }
}

#scroll-up {
  position: fixed;
  top: initial;
  left: initial;
  bottom: 110px;
  right: 50px;
  z-index: 999;
  transition: all 0.3s ease;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
}
#scroll-up:hover {
  background: #d61c22;
}

.arrow-slider {
  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: #000000;
  padding: 10px;
  font-size: 18px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-slider:hover {
  background-color: #ec1d25;
}

.arrow-slider.prev-slider {
  left: 50px;
}

.arrow-slider.next-slider {
  right: 50px;
}

ul.slider-dots {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: block;
  text-align: center;
}
ul.slider-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
ul.slider-dots li button {
  font-size: 0;
  line-height: 0;
  color: transparent;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: #958e88;
}
ul.slider-dots li button:hover {
  border: 3px solid white;
  background-color: #d61c22;
}
ul.slider-dots li.slick-active button {
  opacity: 0.7;
  border: 3px solid white;
  background-color: #d61c22;
}

.sidebar {
  min-width: 250px;
  width: 400px;
  max-width: 90%;
  position: fixed;
  top: 0;
  left: initial;
  bottom: 0;
  right: -100%;
  z-index: 1050;
  background-color: white;
  padding: 30px 50px;
  transition: all 0.3s ease;
  text-align: center;
}
.sidebar .top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  margin-bottom: 30px;
}
.sidebar .top i {
  font-size: 1.5rem;
  cursor: pointer;
}
.sidebar ul li {
  margin-bottom: 13px;
}
.sidebar ul li a {
  font-size: 14px;
  color: #222222;
  line-height: 1.2;
  text-transform: uppercase;
}
.sidebar ul li a:hover {
  color: #ec1d25;
}
.sidebar ul li:last-child {
  margin-top: 35px;
}
.sidebar ul li:last-child a {
  display: block;
  color: white;
  background: #111111;
  margin-inline: auto;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sidebar ul li:last-child a:hover {
  background: #ec1d25;
}
.sidebar h3 {
  font-weight: 500;
  font-size: 18px;
  color: #222222;
  letter-spacing: 3px;
  margin-block: 30px;
}
.sidebar .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.sidebar .gallery a {
  cursor: pointer;
  position: relative;
}
.sidebar .gallery a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sidebar .gallery a:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 999;
  background-color: #ec1d25;
  opacity: 0;
}
.sidebar .gallery a:hover:before {
  opacity: 0.8;
}

.sidebar + .overlay {
  content: "";
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  right: unset;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.show-sidebar.sidebar {
  right: 0;
}
.show-sidebar.sidebar + .overlay {
  right: 0;
  left: 0;
}

header {
  border-top: 5px solid #d61c22;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  position: fixed;
  top: 0;
  left: 0;
  bottom: initial;
  right: 0;
  z-index: 999;
}
header .container {
  gap: 20px;
  padding-block: 20px;
  font-size: 14px;
  height: 120px;
  transition: all 0.3s ease;
}
header .container a#logo > img {
  width: 110px;
}
header .container nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
header .container nav > ul li > a {
  color: white;
  text-transform: uppercase;
}
header .container nav > ul li > a:hover {
  color: #ec1d25;
}
header .container .right-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .container .right-side .socials {
  min-width: 110px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start;
  gap: 0;
}
header .container .right-side .socials a {
  color: white;
  padding: 10px;
  font-size: 1rem;
}
header .container .right-side .socials a:hover {
  color: #ec1d25;
}
@media (max-width: 992px) {
  header .container {
    padding-inline: 25px;
    font-size: 12px;
    height: 100px;
  }
  header .container nav {
    display: none;
  }
}
@media (max-width: 760px) {
  header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: initial;
    right: 0;
    z-index: 999;
  }
}

.header-fixed {
  background: rgba(255, 255, 255, 0.9) !important;
  color: #222222 !important;
}
.header-fixed .burger,
.header-fixed .socials i {
  color: #d61c22 !important;
}
.header-fixed .container {
  height: 80px;
}
.header-fixed .container > nav > ul > li > a,
.header-fixed .container > .socials > a {
  color: #222222 !important;
}

footer .main {
  background-color: #222222;
  padding: 50px 50px 0 50px;
}
@media (max-width: 760px) {
  footer .main {
    padding-inline: 25px;
  }
}
footer .main .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 50px;
}
@media (max-width: 992px) {
  footer .main .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
  }
}
@media (max-width: 760px) {
  footer .main .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
  }
}
footer .main div h4 {
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 33px;
}
footer .main div ul {
  margin-bottom: 70px;
}
footer .main div ul li {
  font-size: 13px;
  color: #999999;
  line-height: 1.7;
  margin-bottom: 14px;
}
footer .main div ul li i {
  width: 20px;
}
footer .main div p {
  font-size: 13px;
  color: #999999;
  line-height: 1.7;
  margin-bottom: 18px;
}
footer .main div span {
  color: #cccccc;
  margin-right: 5px;
  font-size: 13px;
}
footer .main div span:last-of-type {
  font-size: 12px;
  color: #555555;
}
footer .main div a {
  font-size: 13px;
  color: #ec1d25;
  line-height: 1.7;
}
footer .main div div {
  margin-bottom: 25px;
}
footer .main div .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
footer .main div .gallery a {
  cursor: pointer;
  position: relative;
}
footer .main div .gallery a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
footer .main div .gallery a:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 999;
  background-color: #ec1d25;
  opacity: 0;
}
footer .main div .gallery a:hover:before {
  opacity: 0.8;
}
footer .bottom {
  background-color: #111111;
  color: white;
  padding: 20px 50px;
}
@media (max-width: 760px) {
  footer .bottom {
    padding-inline: 25px;
  }
}
footer .bottom .container {
  flex-wrap: wrap;
  gap: 10px;
}
footer .bottom .left-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}
footer .bottom .left-side i:hover {
  color: #ec1d25;
}
footer .bottom .right-side {
  font-size: 14px;
}
footer .bottom .right-side span {
  font-size: 14px;
  line-height: 1.7;
  color: #999999;
}

section#header {
  min-height: 70dvh;
  padding-block: 120px;
  background-image: url("https://preview.colorlib.com/theme/pato/images/bg-title-page-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
section#header h1 {
  font-size: 50px;
  line-height: 1.2;
  color: white;
  letter-spacing: 6px;
  word-spacing: 6px;
}
@media (max-width: 760px) {
  section#header h1 {
    font-size: 30px;
  }
}

section#gallery .container {
  padding-block: 120px;
}
section#gallery .container .filters {
  flex-wrap: wrap;
  max-width: 650px;
  margin: 0 auto 60px;
}
section#gallery .container .filters button {
  border-radius: 10px;
  padding: 2px 10px;
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none !important;
  background: transparent;
}
section#gallery .container .filters button.active {
  background-color: #111111;
  color: white;
}
section#gallery .container .filters button:hover {
  background-color: #111111;
  color: white;
}
section#gallery .container .gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section#gallery .container .gallery .photo {
  position: relative;
  display: inline-block;
  width: calc((100% - 140px) / 3);
  overflow: hidden;
  border-radius: 10px;
  margin: 30px 15px;
}
@media (max-width: 992px) {
  section#gallery .container .gallery .photo {
    width: calc((100% - 100px) / 2);
  }
}
@media (max-width: 760px) {
  section#gallery .container .gallery .photo {
    width: calc(100% - 30px);
  }
}
section#gallery .container .gallery .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section#gallery .container .gallery .photo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: auto;
  background-color: #ec1d25;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
section#gallery .container .gallery .photo .overlay a {
  font-size: 18px;
  color: #111111;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}
section#gallery .container .gallery .photo:hover .overlay {
  opacity: 0.7;
}
section#gallery .container .gallery .photo:hover img {
  transform: scale(1.1);
}
section#gallery .container .pagination {
  margin-top: 60px;
}
section#gallery .container .pagination a {
  color: #333333;
  font-weight: 400;
  font-size: 13px;
  color: #808080;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  margin: 6px;
}
section#gallery .container .pagination a:hover, section#gallery .container .pagination a.active {
  background-color: #333333;
  color: white;
}

section#signup {
  background-image: url("https://preview.colorlib.com/theme/pato/images/icons/pattern1.png.webp");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
}
section#signup .container {
  padding-block: 100px;
}
section#signup .container form {
  flex-wrap: wrap;
  gap: 15px;
}
section#signup .container form span {
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
section#signup .container form .input {
  position: relative;
  width: 270px;
  height: 50px;
  margin: 10px;
  font-size: 14px;
  border-radius: 10px;
  color: #666666;
  border: 2px solid #d9d9d9;
  background-color: white;
}
section#signup .container form .input input {
  font-size: 14px;
  color: #666666;
  border-radius: 10px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}
section#signup .container form .input input:focus {
  border: 2px solid #ec1d25;
}
section#signup .container form .input i {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 18px;
}
section#signup .container form button {
  background: #111111;
  border-radius: 10px;
  width: 160px;
  height: 40px;
  margin: 10px;
  font-size: 12px;
  line-height: 1.1;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
section#signup .container form button:hover {
  color: white;
  background-color: #ec1d25;
}/*# sourceMappingURL=gallery.css.map */