section#welcome {
    height: calc(100dvh - 80px);
    @extend %bg-pattern;

    .container {
        height: 100%;
        text-align: center;
        @include grid(2, 1, 0);

        .left-side {
            @extend %flex-center-column;

            @include heading(50px, #222222, 6px, 0px, 5px, 35px);
            p {
                font-size: 15px;
                line-height: 1.7;
                color: $dark-color-accent--3;
                max-width: 515px;
                margin-bottom: 20px;
            }
            a {
                font-size: 12px;
                line-height: 1.7;
                color: $dark-color--2;
                letter-spacing: 1px;
                text-transform: uppercase;

                i {
                    margin-left: 10px;
                }

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        .right-side {
            @extend %flex-center;

            .img {
                overflow: hidden;
                border-radius: 10px;
                @include size(390px);
                margin-inline: auto;

                img {
                    @include img($scaleOnHover: true);
                }
            }
        }
    }
}
