$primary-color: #d61c22;
$secondary-color: #ec1d25;
$dark-color--1: #111111;
$dark-color--2: #222222;
$dark-color--3: #333333;
$dark-color-accent--1: #555555;
$dark-color-accent--2: #999999;
$dark-color-accent--3: #666666;
