// BREAKPOINTS
$breakpoint-small: 576px;
$breakpoint-medium: 760px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
// HEADER
$header-height-fixed: 80px;
$header-height-mobile: 100px;
$header-height-static: 120px;
