.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 50px;
    @include responsive(x-large) {
    }
    @include responsive(large) {
    }
    @include responsive(medium) {
    }
    @include responsive(small) {
    }
}
