footer {
    .main {
        background-color: $dark-color--2;
        padding: 50px 50px 0 50px;

        .container {
            @include grid(3, 1, 50px);
            @include responsive(large) {
                @include grid(2, 2, 0);
            }
            @include responsive(medium) {
                @include grid(1, 3, 0);
            }
        }

        div {
            h4 {
                font-weight: 500;
                font-size: 18px;
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 33px;
            }

            ul {
                margin-bottom: 70px;

                li {
                    font-size: 13px;
                    color: $dark-color-accent--2;
                    line-height: 1.7;
                    margin-bottom: 14px;

                    i {
                        width: 20px;
                    }
                }
            }

            p {
                font-size: 13px;
                color: $dark-color-accent--2;
                line-height: 1.7;
                margin-bottom: 18px;
            }
            span {
                color: #cccccc;
                margin-right: 5px;
                font-size: 13px;
            }

            span:last-of-type {
                font-size: 12px;
                color: $dark-color-accent--1;
            }
            a {
                font-size: 13px;
                color: $secondary-color;
                line-height: 1.7;
            }

            div {
                margin-bottom: 25px;
            }

            .gallery {
                @include grid(4, 1, 20px);
                a {
                    cursor: pointer;
                    position: relative;

                    img {
                        @include img();
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        z-index: 999;
                        background-color: $secondary-color;
                        opacity: 0;
                    }

                    &:hover:before {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .bottom {
        background-color: $dark-color--1;
        color: white;
        padding: 20px 50px;
        .container {
            @extend %flex-between;
            flex-wrap: wrap;
            gap: 10px;
        }

        .left-side {
            @include flex(center, center, row, 20px);
            font-size: 14px;

            i:hover {
                color: $secondary-color;
            }
        }
        .right-side {
            font-size: 14px;

            span {
                font-size: 14px;
                line-height: 1.7;
                color: $dark-color-accent--2;
            }
        }
    }
}
