header {
    border-top: 5px solid $primary-color;
    @include gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    @include position(fixed, 0, 0, initial, 0, 999);

    .container {
        @extend %flex-between;
        gap: 20px;
        padding-block: 20px;
        font-size: 14px;
        height: $header-height-static;
        @include transition();

        a#logo > img {
            width: 110px;
        }

        nav > ul {
            // flex: 1;
            @include flex(space-between, center, row, 40px);

            li > a {
                color: white;
                text-transform: uppercase;

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        .socials {
            min-width: 110px;
            @include flex(right);

            a {
                color: white;
                padding: 10px;
                font-size: 1rem;

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        @include responsive(large) {
            font-size: 12px;
            height: $header-height-mobile;

            img,
            .socials {
                width: 80px;
            }

            nav ul {
                gap: 20px;
            }
        }

        @include responsive(medium) {
            nav,
            .socials {
                display: none;
            }
        }
    }

    @include responsive(medium) {
        @include position(absolute, 0, 0, initial, 0, 999);
    }
}

.header-fixed {
    background: rgba(255, 255, 255, 0.9) !important;
    color: $dark-color--2 !important;

    .container {
        height: $header-height-fixed;
    }
    .container > nav > ul > li > a,
    .container > .socials > a {
        color: $dark-color--2 !important;
    }
}
